.page-item .page-link {
    background: none !important;
    border: none !important;
    color: #000000 !important;
}

.page-item.active .page-link {
    color: #fd6600 !important;
}

.page-link:hover {
    color: #fd6600 !important;
}