.pagination-container{
	display: flex;
	margin: 20px 0 70px 0;
	ul{
		display: flex;
		align-items: center;
		padding: 0;
		list-style: none;
		max-width: 392px;
		margin: auto;
		li{
			padding: 0 8px;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			*{
				padding: 4px;
				display: block;
			}
			img{
				max-height: 20px;
			}
		}
	}
}