.promotion__2022 {
  margin-top: -43px;
  font-family: Montserrat;
  color: var(--primary-text);
  font-weight: 500;

  & h1 {
    display: none;
  }

  & .offer {
    display: flex;
    align-items: center;
    position: relative;
    background:

      url('../image/promotion_2022/anypact_part_1.png') bottom left no-repeat,
      url('../image/promotion_2022/anypact_part_2.png') top right 10rem no-repeat,
      url('../image/promotion_2022/dots_bg.png') center/cover no-repeat;

    @media(max-width: 1024px) {
      background:
        url('../image/promotion_2022/anypact_part_1.png') bottom left/ 40% no-repeat,
        url('../image/promotion_2022/anypact_part_2.png') top right no-repeat,
        url('../image/promotion_2022/dots_bg.png') center/cover no-repeat;

    }

    @media(max-width: 523px) {
      background:
        url('../image/promotion_2022/anypact_part_1-mobile.png') top left/ 40% no-repeat,
        url('../image/promotion_2022/anypact_part_2.png') bottom right/ 60% no-repeat,
        url('../image/promotion_2022/dots_bg.png') center/cover no-repeat;
    }
  }

  & .offer-container {
    padding: 235px 0 285px 15px;
    background: url('../image/promotion_2022/wallet.png') top 30% right 4rem / 30% no-repeat;

    @media(max-width: 1024px) {
      background: url('../image/promotion_2022/wallet.png') top 30% right / 40% no-repeat;
      padding: 113px 30% 245px 15px;
    }

    @media(max-width: 768px) {
      background: url('../image/promotion_2022/wallet.png') top 40% right / 40% no-repeat;
    }

    @media(max-width: 523px) {
      padding: 48px 15px 181px 15px;
      background: url('../image/promotion_2022/wallet.png') bottom right / 40% no-repeat;

    }

    & h3 {
      @media(max-width: 523px) {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
      }
    }

    & span {
      margin-top: 13px;
      margin-bottom: 3rem;
      display: block;

      @media(max-width: 523px) {
        text-align: center;
        margin-top: 3px;
        margin-bottom: 1.5rem;
      }
    }
  }

  & .arrow__block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width: 523px) {
      bottom: 40px;
      left: 30%;
    }

    & .link-color {
      @media(max-width: 523px) {
        text-align: center;
      }
    }
  }

  & .arrow-7 {
    margin-top: 20px;
    position: static;
    // position: absolute;
    bottom: 0;
    left: 48%;
    width: 38px;
    height: 100px;

    @media(max-width: 523px) {
      height: auto;
    }

    & span {
      display: block;
      width: 30px;
      height: 30px;
      border-bottom: 5px solid var(--primary-orange);
      border-right: 5px solid var(--primary-orange);
      transform: rotate(45deg);
      margin: -16px 0;
      animation: arrow-7 2s infinite;

      @media(max-width: 523px) {
        width: 24px;
        height: 24px;
        border-bottom: 4px solid var(--primary-orange);
        border-right: 4px solid var(--primary-orange);
        margin: -14px 0;
      }
    }

    & span:nth-child(2) {
      animation-delay: -0.2s;
    }

    & span:nth-child(3) {
      animation-delay: -0.4s;
    }
  }

  & .about {
    background: #fafafa;

    & svg {
      margin-bottom: var(--mb-24);
      color: var(--grafit);

      @media (max-width: 523px) {
        width: 200px;
        height: 46px;
      }
    }

    &-container {
      padding: 77px 35rem 161px 15px;
      background: url('../image/promotion_2022/devices.png') center right / 50% no-repeat;

      @media (max-width: 1024px) {
        padding: 77px 48% 77px 15px;
      }

      @media (max-width: 768px) {
        padding: 41px 15px 147px 15px;
        background: url('../image/promotion_2022/devices.png') bottom right 50% / 50% no-repeat;
      }

      @media (max-width: 523px) {
        background-size: 59%;
      }

      & p {
        font-size: 18px;

        @media (max-width: 523px) {
          font-size: 15px;
        }

      }
    }
  }

  & .pre__footer {
    margin-top: 100px;
    padding: 50px 0;
    background: var(--black);
    text-align: center;
    font-weight: 500;

    @media (max-width: 523px) {
      margin-top: 60px;
    }

    & p {
      color: var(--white);
      font-size: 13px;
      line-height: 26px;
      font-weight: 500;
    }

    & p:not(:last-of-type) {
      margin-bottom: 23px;
    }

    & .conditions__link {
      margin-top: 20px;
      display: inline-block;
      color: var(--grey);
      text-decoration: underline;
      font-size: 13px;
      transition: var(--transition-color);
    }

    & .conditions__link:hover {
      color: var(--white);
    }
  }

}

@keyframes arrow-7 {
  0% {
    opacity: 0;
    transform: translate(0, -20px) rotate(45deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(0, 20px) rotate(45deg);
  }
}


.big-orange-text {
  font-weight: 600;
  font-size: 80px;
  line-height: 72px;
  color: var(--secondary-orange);

  @media(max-width: 768px) {
    font-size: 56px;
    line-height: 58px;
  }

  @media(max-width: 523px) {
    font-size: 42px;
    line-height: 51px;
    text-align: center;
  }
}

.open-reg-form {
  padding: 13px 38px;
}


.steps {
  padding-top: 80px;
  position: relative;
  z-index: 2;

  @media(max-width: 523px) {
    padding-top: 60px;
  }

  &::after,
  &::before {
    content: '';
    width: 380px;
    height: 220px;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;

    @media (max-width: 1024px) {
      width: 280px;
      background-size: contain;
    }

    @media (max-width: 523px) {
      width: 193px;
      height: 110px;
    }
  }

  &::before {
    background-image: url('../image/icons/icons.svg#promo-background-left-arrow');
    left: 0;
    top: 54%;

    @media (max-width: 1024px) {
      top: 56%;
    }

    @media (max-width: 768px) {
      top: 52%;
    }

    @media (max-width: 523px) {
      top: 51%;
    }
  }

  &::after {
    background-image: url('../image/icons/icons.svg#promo-background-right-arrow');
    right: 0;
    top: 54%;

    @media (max-width: 1024px) {
      top: 56%;
    }

    @media (max-width: 768px) {
      top: 66%;
    }

    @media (max-width: 523px) {
      top: 63%;
    }
  }

  &__header {
    margin-bottom: var(--mb-68);

    & h3 {
      font-size: 30px;
      line-height: 48px;

      @media(max-width: 523px) {
        font-size: 20px;
        line-height: 32px;
      }
    }

    & h3,
    & span {
      text-align: center;
    }

    & span {
      display: block;
      margin: 24px 0 0 0;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;

      @media(max-width: 523px) {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }

  &__body {
    column-gap: 40px;
    align-items: flex-start;
    margin-bottom: var(--mb-68);

    @media (max-width: 1024px) {
      column-gap: 24px;
    }

    &-step {
      grid-column: span 6;
      flex-wrap: wrap;
      align-items: flex-end;
      column-gap: 12px;
      row-gap: 12px;

      @media (max-width: 768px) {
        grid-column: span 12;
      }

      & p {
        padding-left: 67px;

        @media (max-width: 1024px) {
          padding-left: 59px;
        }

        @media (max-width: 768px) {}
      }

      & h2 {
        @media (max-width: 1024px) {
          font-size: 32px;
        }
      }

      & span {
        width: 54px;
        text-align: end;

        @media (max-width: 1024px) {
          font-size: 60px;
          width: 45px;
          line-height: 61px;
        }
      }
    }
  }

  &__footer {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 13%;
    position: relative;
    z-index: 2;

    @media (max-width: 523px) {
      padding: 0;
    }

    & h2 {
      margin-bottom: 30px;
      text-align: center;
    }

    & p {
      margin-bottom: 21px;
      text-align: center;
      font-size: 18px;
      line-height: 26px;

      @media (max-width: 523px) {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 20px;
      }
    }


  }
}