.buttons-wrapper {
  margin-top: 1.5rem;
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  column-gap: 20px;
}

.primary__btn-orange {
  color: var(--white);
  background-color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
  transition: var(--transition-color);
  padding: 13px 62px;

  &:hover,
  &:focus {
    background-color: var(--white);
    color: var(--primary-orange);
  }
}

.white-btn {
  color: var(--primary-orange);
  background-color: var(--white);
  border: 1px solid var(--primary-orange);
  transition: var(--transition-color);
  padding: 12px 38px;

  &:hover,
  &:focus {
    background-color: var(--primary-orange);
    color: var(--white);
  }
}

.black-btn {
  background-color: var(--primary-text);
  border-radius: 5px;
  transition: var(--transition-color);
  color: var(--white);
  border: 1px solid var(--primary-text);
  vertical-align: middle;

  &:hover,
  &:focus {
    background-color: var(--white);
    color: var(--primary-text);
  }

}
