.choices {
  width: 100%;
}
.choices__inner {
  vertical-align: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}
.choices[data-type*=select-one] .choices__inner {
  // padding: 12px 0 12px 20px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  min-height: auto;
}
.choices__item--selectable {
  color: var(--primary-text);
  padding-top: 2px;
}
.is-focused .choices__inner, .is-open .choices__inner {
  border-color: var(--primary-orange);
}

.choices__list--dropdown {
  box-shadow: 4px 4px 10px rgba(6, 15, 98, 0.05);
  border-radius: 5px;
  padding: 20px;
  border: 0;
  opacity: 0;
}

.choices__list--single {
  display: inline-block;
  padding: 1px 0 1px 0;
  width: 100%;
  color: var(--primary-orange);
}
.choices__item .choices__item--selectable {
  padding-top: 2px;
}
.choices__list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  word-break: normal;
  row-gap: 10px;
  border: 0;
  
}
.choices__list--multiple {
  flex-direction: row;
}
.choices__list--multiple .choices__item {
  background-color: var(--primary-orange);
  border: 0;
}
.choices__list--dropdown, .choices__list[aria-expanded] {
  overflow: auto;
}
.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border: 0;
}
.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
   padding: 0; 
   color: var(--primary-text);
}
.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: transparent;
  color: var(--primary-orange);
}
.choices__list--dropdown, .choices__list[aria-expanded] {
  top: 111%;
  opacity: 1;
 
}
// .choices[data-type*=select-one]::after {
//   height: 8px;
//   width: 8px;
//   border: 1px solid var(--primary-text);
//   border-color: var(--primary-orange);
//   border-width: 0 0 1px 1px;
//   transform: rotate(-45deg);
//   top: 41%;
//   right: 20px;
  
// }
.choices.is-open .choices__inner::after  {
  transform: rotate(135deg);
  border-color: var(--primary-orange);
  top: 40%;
}
.choices__input {
  padding: 12px 20px 12px 20px;
  border-radius: 5px;
  outline: none;
  margin: 0;
  border: 1px solid var(--border-grey);
  background-color: transparent;
  position: relative;
  width: 100%;
}

.choices__inner::after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  border: 1px solid var(--primary-text);
  border-color: var(--border-grey);
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);
  top: 35%;
  right: 20px;
  transition: all 0.2s ease-in-out;
}

