@font-face {
                font-family: Roboto;
                font-display: swap;
                src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
                font-weight: 900;
                font-style: normal;
            }
@font-face {
                font-family: gilroy;
                font-display: swap;
                src: url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff");
                font-weight: 400;
                font-style: normal;
            }
@font-face {
                font-family: Roboto;
                font-display: swap;
                src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
                font-weight: 700;
                font-style: normal;
            }
@font-face {
                font-family: Roboto;
                font-display: swap;
                src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
                font-weight: 500;
                font-style: normal;
            }
@font-face {
                font-family: Roboto;
                font-display: swap;
                src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
                font-weight: 400;
                font-style: normal;
            }
@font-face {
                font-family: Segoe UI;
                font-display: swap;
                src: url("../fonts/Segoe UI.woff2") format("woff2"), url("../fonts/Segoe UI.woff") format("woff");
                font-weight: 400;
                font-style: normal;
            }
