body {
  color: var(--primary-text);
}

.hide {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 20px;

  @media (max-width: 1090px) {
    column-gap: 16px;
  }
}

.svg-dont__chat-dims {
  color: var(--primary-orange);
}

.flex-container {
  display: flex;
  align-items: center;
}

svg,
a,
button {
  transition: var(--transition-color);
}

a,
button {
  cursor: pointer;
  border-radius: .25rem;
}

.primary__btn-orange {
  color: var(--white);
  background-color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
  transition: var(--transition-color);

  &:hover {
    background-color: var(--white);
    color: var(--primary-orange);
  }
}

.font-weight-bold {
  font-weight: 700 !important;
}

.link-color {
  color: var(--primary-orange) !important;
}

.grey-link {
  color: var(--secondary-text);
  text-decoration: underline;

}

.grey-link:hover,
.grey-link:focus {
  color: var(--primary-text);
}

.city__choose {
  font-size: 14px;
  padding: 42px 0 42px 0;
  background: #eaeaea url('/image/bg-russia-mini.png') no-repeat center right;
  position: fixed;
  width: 100%;
  z-index: 995;
  background-size: 50%;
  display: block;
  top: -1000px;
  overflow: hidden;

  @media(max-width: 768px) {
    top: -1076px;
  }

  &._open {
    animation: mapDown 1s 0.3s both;
  }

  &._close {
    animation: mapUp 1s 0.3s both;
  }

  &-btn-close {
    margin: 4px;
    font-size: 16px;
    float: right;
  }

  &-btn-choose {
    padding: 13px 60px;
    font-size: 16px;
    font-weight: 400;
  }

  &-btn-close:hover {
    color: var(--primary-orange);
  }

  &-btn-city:hover {
    text-decoration: underline;
  }

  &-btn-city,
  &-btn-close {
    color: var(--grey-text);
    border: none;
    background: unset;
    line-height: 2.2;
    padding: 0;
    cursor: pointer;
    font-weight: 400;
    transition: var(--transition-color);
  }

  &-form-header {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 600;
    display: block;
  }

  & h2 {
    display: inline-block;
    margin-bottom: 25px;
  }

  & .row-column {
    columns: auto;
    column-width: auto;
    column-width: 12em;

    @media(max-width: 768px) {
      column-width: 8em;
    }

    @media(max-width: 523px) {
      column-width: 3em;
    }
  }

}

@keyframes mapDown {
  from {
    height: 0;
    top: -1000px;
  }

  to {
    height: 694px;
    top: 0;

  }

}

@keyframes mapUp {

  from {
    height: 694px;
    top: 0;
    // @media (max-width: 1090px) {
    //   height: 882px;
    // }
  }

  to {
    height: 0;
    top: -1000px;
  }
}

@media (max-width: 1090px) {
  @keyframes mapDown {
    from {
      height: 0;
      top: -1000px;
    }

    to {
      height: 784px;
      top: 0;

    }

  }

  @keyframes mapUp {

    from {
      height: 784px;
      top: 0;
    }

    to {
      height: 0;
      top: -1000px;
    }
  }
}




.col-md-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.city__submit div:nth-child(1) {
  margin-right: 16px;
}

.city__submit-input {
  padding: 13px;
}


.header {
  padding-top: 30px;
  padding-bottom: 17px;


  & .logo {
    display: block;
  }

  &__choice-town {
    grid-column: 1/ span 5;

    @media (max-width: 1090px) {
      grid-column: 1/ span 6;
    }

    @media (max-width: 1024px) {
      grid-column: 3/ span 8;
      position: relative;
      z-index: 5;
      justify-content: center;
    }

    .location {
      margin: 0 20px;

      @media (max-width: 1090px) {
        margin: 0 17px 0 10px;
      }
    }
  }

  &__profile-action {
    grid-column: 7/ span 6;
    justify-content: flex-end;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__profile-mobile {
    display: none;

    @media (max-width: 1024px) {
      display: block;
      z-index: 5;
      grid-column: 11/ span 2;
      position: relative;
      display: flex;
      align-self: flex-end;
      justify-self: flex-end;
    }
  }

  &__navbar {
    @media (max-width: 1090px) {
      display: none;

    }

  }

  & .manual {
    @media (max-width: 1024px) {
      display: none;
    }

  }

  /*Кнопка создать новое предложение */
  &__item-action-btn {
    display: inline-block;
    position: relative;
    margin-right: 30px;

    @media (max-width: 1090px) {
      margin-right: 16px;
    }

    & p {
      color: var(--primary-text);
      transition: var(--transition-color);

      @media (max-width: 850px) {
        font-size: 14px;
      }
    }

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover .svg-header-wallet-dims,
    &:hover p,
    &:focus-visible .svg-header-wallet-dims,
    &:focus-visible p {
      color: var(--primary-orange);
    }

    &:hover div {
      display: block;
      opacity: 1;
    }

    & div {
      display: none;
      position: absolute;
      right: 0;
      top: 63px;
      background-color: var(--primary-orange);
      color: var(--white);
      font-size: 13px;
      white-space: nowrap;
      padding: 7px 12px;
      border-radius: 4px;
      z-index: 999;
      transition: opacity 1s ease-in-out 1s;
      opacity: 0;
    }

    & div::before {
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      right: 16px;
      top: -3px;
      background-color: var(--primary-orange);
      transform: rotate(45deg);
      z-index: -1;
    }
  }
}

.location {
  font-size: 14px;
  line-height: 2.5;
  text-decoration: underline;
  margin-left: 20px;
  cursor: pointer;

  @media (max-width: 1024px) {
    display: none;
  }

  &::after {
    content: "";
    background: url(../image/arrows_region.png);
    width: 4px;
    height: 9px;
    display: inline-block;
    position: relative;
    left: 5px;
  }
}

.mobile-location .location {
  display: none;
}

.underscore-link {
  position: relative;
  transition: var(--animation-onset);
}

.underscore-link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--primary-orange);
  transition: all 0.2s ease-in-out 0.2s;
}

.underscore-link:hover:after,
.underscore-link:focus:after {
  width: 100%;
}


.search-header-button {
  width: 45px;
  height: 45px;
  background-color: var(--primary-orange);
  border-radius: 50%;
  position: relative;
  display: flex;
}

.svg-magnifier-white-dims,
.svg-header-create-btn-dims {
  color: var(--white);
}

.svg-header-wallet-dims {
  margin-right: 8px;
}

.svg-header-wallet-dims {
  color: var(--secondary-text);

  @media (max-width: 850px) {
    width: 24px;
    height: 24px;
  }
}

.widget_user_profile_name {
  @media (max-width: 1024px) {
    display: none;
  }
}

.round-button a {
  width: 45px;
  height: 45px;
  background-color: var(--primary-orange);
  color: var(--white);
  border-radius: 50%;
  transition: var(--transition-color);

  @media (max-width: 850px) {
    width: 36px;
    height: 36px;
  }
}

.round-button:hover a {
  background-color: var(--secondary-orange);
}


.round-button:focus a {
  background-color: var(--secondary-orange);

}

.manual-nav-item {
  display: none;

  @media (max-width: 1024px) {
    display: inline-block;
  }
}

.profile-mobile-link {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.profile-mobile-link img {
  border-radius: 50%;
}





//=-----модальное окно профиля на мобилке

// @keyframes profileModalShow {

//   from {
  
//     left: 100%;

//   }

//   to {
    
//     left: 0;

//   }
 
// }

// @keyframes profileModalHide {

//   from {
    
//     left: 100%;

//   }

//   to {
//     left: 0;
    
//   }
// }

.user-menu-modal {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: block;
  transition: all 0.5s ease-in 0.1s;

  &._show {
    left: 0;
  }
   
}

.user-menu-modal-block {
  height: 100%;
  width: calc(100% - 65px);
  background: var(--white);
  float: right;
  transition: var(--animation-profile-mobile);
  margin-right: -100vw;

  &._show {
    margin-right: 0vw;
    transition: var(--animation-profile-mobile);
  }
}


a.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-fio {
  margin-left: 15px;
  font-size: 14px;
}

.user-menu-modal ul {
  display: flex;
  flex-direction: column;
}

.user-menu-modal ul li {
  padding: 10px 30px;
  display: inline-block;
}

.close__btn {
  height: 32px;
  width: 32px;
  position: absolute;
  left: 11px;
  top: 11px;
  background-color: initial;

  &-svg {
    transform: rotate(45deg);
    color: var(--white);
  }

}

.user-menu-modal ul li a,
.user-fio {
  color: var(--primary-text);
}

.widget_user_profile {
  text-align: right;
}

.widget_user_profile_avatar {
  width: 45px;
  height: 45px;
  float: left;
  background: #e8e8e8;
  border-radius: 50%;
  position: relative;
}

.widget_user_profile_name {
  position: relative;
  margin-left: 10px;
  // max-width: 46%;
  user-select: none;
}

.widget_user_profile_name__title {
  position: relative;
  color: #ff6416;
}

.widget_user_profile_name__title:hover {
  text-decoration: none;
}

.widget_user_profile_fio {
  display: inline-block;
  width: 100%;
  color: #ff6416;
}

.widget_user_profile_name {
  cursor: pointer;
}

.widget_user_profile_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 6px;
  /* width: 92%; */
  position: absolute;
  z-index: 100;
  background-color: white;
  top: 55px;
  left: 40px;
  text-align: left;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.widget_user_profile_avatar span {
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  color: #ffffff;
  margin: 0 auto;
  display: block;
  width: 50%;
  text-align: center;
}

.widget_user_profile_select ul {
  padding: 11px 17px;
  margin: 0;
  border-bottom: 1px solid #F1F4F4;
}

.widget_user_profile_select ul li {
  list-style-type: none;
  padding: 9px;
}

.widget_user_profile_select a {
  color: #131313;
}

.widget_user_profile_select a:hover {
  color: #131313;
}

.widget_user_profile_select a.exit-profile {
  padding: 20px 26px;
}