:root {
    --primary-orange: #FF6600;
    --secondary-orange: #FF812D;
    --primary-text: #212529;
    --black: #333333;
    --grafit: #444444;
    --secondary-text: #8e8e8e;
    --grey-text: #7f7f7f;
    --opacity-background: rgba(243, 243, 243, 0.7);
    --white: #ffffff;
    --grey: #CDCDCD;
    --transition-color: all 0.2s ease-in-out 0s;
    --animation-onset: all 0.4s ease-in-out 0s; 
    --animation-profile-mobile: all 0.7s ease-in-out 0s;
    --mb-68: 68px;
    --mb-24: 24px;
    @media(max-width: 1024px) {
      --mb-68: 56px;
      
    }
    @media(max-width: 768px) {
      --mb-68: 48px;
      --mb-24: 12px;
    }
    @media(max-width: 523px) {
      --mb-68: 25px;
      
    }
  }