.swiper-button-prev {
  left: -2rem;
}
.swiper-button-next {
  right: -2rem;
}
.swiper-button-prev, 
.swiper-button-next {
  color: var(--primary-text);
  transition: var(--transition-color);
}

.swiper-button-prev:hover:not(.swiper-button-disabled), 
.swiper-button-next:hover:not(.swiper-button-disabled) {
  color: var(--primary-orange);
}
.swiper-deal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.swiper-container {
  position: relative;
}
.swiper-pagination-bullet{
  border: 1px solid var(--primary-orange);
  width: 30px;
  height: 11px;
  border-radius: 6px;
  transition: 300ms;
  background-color: inherit;
  opacity: 1;
}
.swiper-pagination-bullet:hover {
  background-color: var(--primary-orange);
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -2rem;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary-orange);
  width: 128px;
  border-radius: 6px;
}
.swiper-section {
  background-image: url('../image/bg-points.png');
  background-repeat: no-repeat;
  background-position: left bottom -25px;
  padding-bottom: 50px;
  // overflow: visible;
  
}
