.swiper-button-prev {
  left: -2rem;
  @media (max-width: 1090px) {
    left: 0;
  }
}
.swiper-button-next {
  right: -2rem;
  @media (max-width: 1090px) {
    right: 0;
  }
}
.swiper-button-prev, 
.swiper-button-next {
  color: var(--primary-text);
  transition: var(--transition-color);
  @media (max-width: 768px) {
    width: 22px;
    height: 22px;
  }
  @media (max-width: 523px) {
    display: none;
  }
  
}
.swiper-button-prev:after, .swiper-button-next:after {
  
  @media (max-width: 768px) {
    font-size: 27px;
  }
}
.swiper-button-prev:hover:not(.swiper-button-disabled), 
.swiper-button-next:hover:not(.swiper-button-disabled) {
  color: var(--primary-orange);
}
.swiper-deal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.swiper-pagination-bullet{
  border: 1px solid var(--primary-orange);
  width: 30px;
  height: 11px;
  border-radius: 6px;
  transition: 300ms;
  background-color: inherit;
  opacity: 1;
  @media (max-width: 523px) {
    display: none;
  }
}
.swiper-pagination-bullet:hover {
  background-color: var(--primary-orange);
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  @media (max-width: 1090px)  {
    bottom: 0;
  }
}
.swiper-pagination-bullet-active {
  background-color: var(--primary-orange);
  width: 128px;
  border-radius: 6px;
}
.swiper-section {
  background-image: url('../image/bg-points.png');
  background-repeat: no-repeat;
  background-position: left bottom -25px;
  padding-bottom: 50px;
  @media (max-width: 523px) {
    padding-bottom: 0;
    background-position: left bottom 20px;
  }
  
}
