.category__container {
  margin-bottom: 50px;
  @media (max-width: 1024px) {
    margin-bottom: 30px;
  }

  &-title {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 30px;
    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 14px;
      margin-bottom: 20px;
    }
  }
  & .category__list {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 100px;
    flex-wrap: wrap;
    max-height: 160px;
    @media (max-width: 1024px) {
      row-gap: 14px;
      max-height: 150px;
      column-gap: 50px;
    }
    @media (max-width: 523px) {
      max-width: 100%;
      overflow-x: scroll;
      max-height: 105px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      column-gap: 40px;
    }
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    & li {
      max-width: 150px;
      & a {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        @media (max-width: 1024px) {
          font-size: 16px;
          line-height: 14px;
        }
      }
    }
  }
}
